@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
	color-scheme: dark light;
}

body {
	box-sizing: border-box;
	font-family: 'Roboto', serif;
	--bkgrnd-clr-odd: hsl(33, 100%, 88%);
	--bkgrnd-clr-header: hsl(0, 0%, 20%);
	--header-font-clr: hsl(208, 100%, 97%);
	--main-font-clr: #000;
	width: 100%;
	font-size: clamp(0.7rem, 1vw, 1rem) ;
	

}

header {
	background-color: var(--bkgrnd-clr-header);
	opacity: 0.8;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
	justify-items: center;
	margin-inline: auto;
}

.flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-inline: auto;
}

body > * {
	width: 96%;
	margin-inline: auto;
}

h1{
	font-family: 'MonteCarlo', serif;
	color: var(--header-font-clr);
	min-height: 100%;
	margin: 0;
	text-align: center;
	
}

nav .flex{
	width: clamp(200px, 20vw, 50%);
	justify-content: space-around;
	padding: 0;
}

h2{
	font-size: clamp(2rem, 2vw, 3rem) ;

}

nav li a, nav li, footer, footer *{
	color: var(--header-font-clr);
	list-style: none;
	
}

span.contact-link a{
	color: #000;
}

img {
	display: block;
	max-width: 100%;
}

#sunset img {
	margin-inline: auto;
	width: 100%;
}

#intro {
	display: block;
}



.img-wrapper {
	position: relative;
}

.img-wrapper,
.img-wrapper a {
	font-size: 0.5rem;
	color: #000;
	text-align: right;
}

.secondary-content-wrapper {
	background-color: var(--bkgrnd-clr-odd);
	padding-top: 1vw;
}

.small-content {
	width: 70%;
}

#multi-pics {
	
	overflow: hidden;
}

#multi-pics p{
	position: relative;
	z-index: 110;
}

.img-attr, .img-attr a{
	font-size: 0.7rem;
	color: #000;
}

#bday-girl-img {
	position: relative;
	transform: translate(15%, 10%) rotate(-30deg);
}

#bday-girl-img .img-attr{
	position: absolute;
	top:0;
	left: 7%;
	font-size: 10px;
	color: #fff;
	background-color: #4a5b34;
}

#graduation-img {
	position: relative;
	z-index: 75;
}

#graduation-img .img-attr{
	position: absolute;
	top:0;
	left: 5rem;
	text-align: left;
	font-size: 10px;
	color: #fff;
	background-color: #4a5b34;
}

#biking-img {
	position: relative;
	z-index: 100;
	transform: translate(-15%, 10%) rotate(20deg);
}

#biking-img .img-attr{
	position: absolute;
	top:0;
	right: 0.5rem;
	text-align: left;
	font-size: 10px;
	color: #000;
	background-color: #b8cae2;
}

#services{
	display: block;
	box-sizing: border-box;
	background-color: var(--bkgrnd-clr-odd);
	padding: 2vw 8%;
}

#services h2{
	margin: 0;
}

#reviews >*{
	column-gap: 1rem;
	align-self: start;
}

footer.flex{
	margin-inline: auto;
	background-color: var(--bkgrnd-clr-header);
	opacity: 0.8;
	padding-bottom: 1rem;
}

footer > *{
	padding-inline: clamp(1rem, 2vw, 1.5rem);
	
}

.social-media{
	padding-top: clamp(1rem, 2vw, 1.5rem);
	padding-bottom: clamp(1rem, 2vw, 1.5rem);
	
}

.social-media > *{
	margin-inline: 5px;
}

 /* Style all font social media icons */
 .fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
	opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  /* Twitter */
  .fa-twitter {
	background: #55ACEE;
	color: white;
  } 

  /* Instagram */
.fa-instagram {
	background: #125688;
	color: white;
  }

  /* Twitter */
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }

@media (max-width: 629px) {
	#multi-pics > * {
		text-align: center;
	}

	
	#bday-girl-img {
		transform: translate(0) rotate(-15deg);
	}
	#graduation-img {
		transform: rotate(10deg);
	}

	#biking-img {
		transform: translate(0) rotate(-10deg);
	}

}

@media (min-width: 630px) and (max-width: 940px) {
	#bday-girl-img {
		transform: translate(0) rotate(-15deg);
	}
	#graduation-img {
		transform: rotate(10deg);
	}

	#biking-img {
		transform: translate(40%) rotate(-10deg);
	}

	#graduation-img .img-attr{
		left: 7.5rem;
	}
}

@media (prefers-color-scheme: dark){
	span.contact-link a{
		color:#fff;
	}
	.secondary-content-wrapper,
	#services{
		color: #000;
		
	}
}


